@use '../../../../app/shared';

$image-size: 32px;
$outline-width: 5px;
$margin-left: 12px;

.addTeammates {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, auto);
    cursor: pointer;

    .addTemmateButton,
    .teammateImage {
        width: $image-size;
        height: $image-size;
        border-radius: $image-size;
        outline: $outline-width solid var(--bg);
    }

    .addTemmateButton {
        display: grid;
        background: var(--text);
        place-items: center center;
        z-index: 4;
    }

    .teammateImage {
        margin-left: -$margin-left;
    }

    @include shared.transition(filter);
	@include shared.brightness;
}
