$padding-x: 18px;
$padding-x-small: 8px;
$padding-y: 16px;
$radius: 12px;
$gap: 4px;

.pad {
    position: relative;
	display: grid;
	width: calc(100% - #{$padding-x * 2});
	padding: $padding-y $padding-x;
    background: var(--second-bg);
	gap: $gap;
    border-radius: $radius;
    overflow: hidden;
}

.smallPad {
    width: calc(100% - #{$padding-x-small * 2});
    padding: $padding-y $padding-x-small;
}

.padLogo,
.padBurn {
    position: absolute;
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
}

.padLogo {
    right: -24px;
    bottom: -56px;
    width: 210px;
}

.padBurn {
    top: 0;
    right: -20px;
    width: fit-content !important;
    width: 210px;
    height: 120% !important;
}

