$padding-x: 18px;
$padding-y: 16px;
$radius: 12px;
$gap: 4px;

.pad {
    position: relative;
	display: grid;
	width: calc(100% - #{$padding-x * 2});
	padding: $padding-y $padding-x;
    background: var(--second-bg);
	gap: $gap;
    border-radius: $radius;
    overflow: hidden;
}

.padLogo {
    position: absolute;
    right: -24px;
    bottom: -56px;
    width: 210px;
    fill: var(--primary) !important;
    opacity: 0.1;
}

