@use '../../../../app/shared';

$gap: 12px;

.taskTitleBlock {
    display: grid;
    gap: $gap;
    grid-template-columns: 1fr auto;
    align-items: center;

    h2 {
        color: var(--hint);
        font-weight: 500;
    }
}
