@use '../../../../app/shared';

$gap: 12px;

.projectTitleBlock {
    display: grid;
    gap: $gap;
    grid-template-columns: 1fr auto;
    align-items: start;

    h2 {
        max-width: 80%;

        @include shared.line-clamp;
        @include shared.ellipsis;
    }
}
