$xl-size: 20px;
$xl-weight: 500;
$xl-height: 4px;
$l-size: 18px;
$l-weight: 400;
$l-height: 4px;
$m-size: 14px;
$m-weight: 600;
$m-height: 6px;
$s-size: 10px;
$s-weight: 500;
$s-height: 2px;

@mixin common-htag {
	width: fit-content;
	margin: 0;
	color: var(--text);
	font-style: normal;
}

@mixin roboto-htag {
	font-family: var(--font-family-roboto);
}

@mixin montserrat-htag {
	font-family: var(--font-family-montserrat);
}

.xl,
.l,
.m,
.s {
	@include common-htag;
}

.xl {
	font-size: $xl-size;
	font-weight: $xl-weight;
	line-height: $xl-size + $xl-height;

	@include montserrat-htag;
}

.l {
	font-size: $l-size;
	font-weight: $l-weight;
	line-height: $l-size + $l-height;

	@include roboto-htag;
}

.m {
	font-size: $m-size;
	font-weight: $m-weight;
	line-height: $m-size + $m-height;

	@include roboto-htag;
}

.s {
	color: var(--hint);
	font-size: $s-size;
	font-weight: $s-weight;
	line-height: $s-size + $s-height;

	@include roboto-htag;
}
