.switchTaskTypeBlock {
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    overflow-x: auto;
    width: 100%;
    gap: 10px;
    margin-top: 30px;

    &::-webkit-scrollbar {
        display: none;
    }
}
