@use '../../../../app/shared';

$height: 4px;

.progressBarWrapper {
    display: grid;
    gap: $height;
    justify-items: left;
    margin-top: 8px;
    width: 100%;

    .progressBar {
        position: relative;
        width: 100%;
        height: $height;
        border-radius: $height;
        background-color: rgba(var(--primary-rgb), 0.1);
        overflow: hidden;

        div {
            position: absolute;
            top: 0;
            left: 0;     
            width: 0;
            height: 100%;
            background: var(--primary);
            z-index: 1;   
            border-radius: inherit;

            @include shared.transition(width);
        }
        
    }
}