$gap: 8px;

.calendarBadge {
    display: grid;
    gap: $gap;
    place-items: center left;
    width: fit-content;
    grid-template-columns: auto 1fr;

    div {
        display: grid;
        justify-items: left;

        h2 {
            line-height: 14px;
        }
    }
}
