@use '../../../../app/shared';

$padding: 12px;

.workspaceItem {
    overflow: hidden;
    width: 100%;
    cursor: pointer;

    h2 {
        max-width: 100%;
        user-select: none;
        white-space: nowrap;

        @include shared.ellipsis;
    }

    &:not(:last-child) {
        border-bottom: 2px solid var(--second-bg);
        padding-bottom: $padding;
    }
}