@use '../../../../app/shared';

$outline-width: 2px;

.switchWorkspace {
	display: grid;
	align-items: center;

	width: 40%;
	height: 40px;
	padding: 0 24px;

	cursor: pointer;

	border-radius: 40px;
	outline: $outline-width solid var(--second-bg);
	outline-offset: -$outline-width;
	background: var(--section);
	grid-template-columns: auto 1fr;
	gap: 12px;
	justify-items: left;

	@include shared.transition(filter);
	@include shared.brightness();

	h2 {
		overflow: hidden;

		max-width: 100%;

		user-select: none;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
