@use '../../../../app/shared';

$outline-width: 2px;

.switchWorkspace {
	position: relative;
	width: 60%;
	z-index: 2;

	.currentWorkspace {
		position: relative;
		z-index: 11;
		display: grid;
		place-items: center left;
		width: calc(100% - 48px);
		height: 40px;
		padding: 0 24px;
		cursor: pointer;
		border-radius: 40px;
		outline: $outline-width solid var(--second-bg);
		outline-offset: -$outline-width;
		background: var(--section);
		grid-template-columns: auto 1fr;
		gap: 12px;

		@include shared.transition(filter);
		@include shared.brightness;
	}

	h2 {
		max-width: 100%;
		user-select: none;
		white-space: nowrap;

		@include shared.ellipsis;
	}

	.chevronIcon {
		@include shared.transition(transform);
	}

	.rotateChevron {
		transform: rotate(180deg);
	}
}
