$transition-duration: 300ms;
$transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
$brightness: 0.95;
$lines: 2;

@mixin transition($properties: all, $duration: $transition-duration, $timing: $transition-timing) {
	transition: $properties $duration $timing;
}

@mixin brightness($brightness: $brightness) {
	&:active {
		filter: brightness($brightness);
	}
}

@mixin ellipsis($break-all: false) {
	overflow: hidden;
	text-overflow: ellipsis;
  
	@if $break-all {
	  word-break: break-all;
	} @else {
	  word-break: normal;
	}
  }

@mixin line-clamp($lines: $lines) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
