$transition-duration: 300ms;
$transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
$brightness: 0.95;

@mixin transition($properties: all, $duration: $transition-duration, $timing: $transition-timing) {
	transition: $properties $duration $timing;
}

@mixin brightness($brightness: $brightness) {
	&:active {
		filter: brightness($brightness);
	}
}

@mixin ellipsis() {
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin line-clamp() {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}