html,
body {
	margin: 0;
	padding: 0;

	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;

	background: var(--bg);

	font-family: 'Roboto', sans-serif;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

::-moz-focus-outer,
::-moz-focus-inner {
	padding: 0;

	border: 0;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-track {
	background-color: var(--background);
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background-color: var(--primary);
}

a {
	text-decoration: none;
}

@media (max-width: 480px) {
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
}

$fallback-bg: #FFF;
$fallback-second-bg: #F8F8F8;
$fallback-section: #FFF;
$fallback-text: #000;

:root {
	--primary: #FF5834;
	--bg: var(--tg-theme-bg-color, #{$fallback-bg});
	--second-bg: var(--tg-theme-secondary-bg-color, #{$fallback-second-bg});
	--section: var(--tg-theme-section-bg-color, #{$fallback-section});
	--text: var(--tg-theme-text-color, #{$fallback-text});
	--error: #FF1500;
	--font-family: 'Roboto', sans-serif;
}
