html,
body {
	margin: 0;
	padding: 0;
	user-select: auto;
	background: var(--bg);
	font-family: var(--font-family-roboto);
	-webkit-tap-highlight-color: rgb(255 255 255 / 0%);
	-webkit-tap-highlight-color: transparent;
}

::-moz-focus-outer,
::-moz-focus-inner {
	padding: 0;
	border: 0;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: var(--background);
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background-color: var(--primary);
}

a {
	text-decoration: none;
}

@media (width <=480px) {
	::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}
}

$fallback-bg: #FFF;
$fallback-second-bg: #F4F4F5;
$fallback-section: #FFF;
$fallback-text: #000;
$fallback-hint: #696969;

:root {
	--primary: #FF5834;
	--primary-rgb: 255, 88, 52;
	--bg: var(--tg-theme-bg-color, #{$fallback-bg});
	--second-bg: color-mix(in srgb, var(--tg-theme-secondary-bg-color, #{$fallback-second-bg}), var(--bg) 34%);
	--section: var(--tg-theme-section-bg-color, #{$fallback-section});
	--text: var(--tg-theme-text-color, #{$fallback-text});
	--hint: var(--tg-theme-hint-color, #{$fallback-hint});
	--light-hint: color-mix(in srgb, var(--tg-theme-hint-color, #{$fallback-hint}), var(--bg) 34%);
	--error: #FF1500;
	--font-family-roboto: 'Roboto', sans-serif;
	--font-family-montserrat: 'Montserrat', sans-serif;
}
