.icon {
	height: fit-content;
	fill: var(--text);

	&.iconL {
		width: 20px;
        height: 20px;
	}

	&.iconM {
		width: 14px;
        height: 14px;
	}

	&.iconS {
		width: 12px;
        height: 12px;
	}
}
