@use '../../../../app/shared';


.buttonIconPad {
    cursor: pointer;

    .buttonIcon {
        display: grid;
        justify-items: center;
        gap: 6px;

        &h3 {
            font-weight: 500;
        }
    }

	@include shared.transition(filter);
	@include shared.brightness;
}