@use '../../../../app/shared';


.buttonIconPad {
    cursor: pointer;

    .buttonIcon {
        display: grid;
        justify-items: center;
        grid-template-rows: auto 1fr;
        gap: 7px;

        h3 {
            text-align: center;

            @include shared.ellipsis(true);
            @include shared.line-clamp(1);
        }
    }

	@include shared.transition(filter);
	@include shared.brightness;
}