@use '../../../../app/shared';

.starredArchiveBlock {
    display: grid;
    gap: inherit;
    grid-template-columns: auto auto;
    justify-items: end;

    .icon {
        cursor: pointer;

        @include shared.transition(filter);
		@include shared.brightness;
    }
}
