@use '../../../app/shared';

$checkbox-size: 20px;
$radius: 6px;
$outline: 2px;

.checkboxWrapper {
    position: relative;
    width: $checkbox-size;
	height: $checkbox-size;
    overflow: hidden;
}

.checkbox {
	width: $checkbox-size;
	height: $checkbox-size;
    margin: 0;
	cursor: pointer;
	transition-duration: 500ms;
	border: none;
	border-radius: $radius;
	outline: $outline solid var(--hint);
    outline-offset: -$outline;
	appearance: none;

    &:checked {
        outline-color: var(--primary);
        background: var(--primary);
    }

    &:active {
		outline-color: var(--primary);
	}

    @include shared.transition;
}

.checkMark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
